.link-style{
    font-size: 20px;
    color: white !important;
}
.bg-style{
    background-color: #201661;
}
.logo {
    text-decoration: none;
    font-size: 29px;
    font-weight: 600;
    color: chartreuse;
}
.logo:hover{
    text-decoration: none;
    color: chartreuse;
}